/* .wrapper {
  box-sizing: border-box;
  margin: 1rem auto 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 25rem;
  background: linear-gradient(#222, #222),
    linear-gradient(to right, red, purple);
  border: 5px solid transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
} */
.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  box-sizing: border-box;
  margin: 1rem auto 2rem;
  padding: 10px;
  background: linear-gradient(#222, #222), linear-gradient(to right, red, gold);
  border: 3px solid transparent;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  color: white;
}

.card {
  color: black;
  text-align: center;
}

.content-box {
  margin: 0 25%;
}
